<form ng-submit="adduser()" ng-controller="addrecepctrl">
<ul type="none">
<li>Receptionist's Name:</li>
<li><input type="text" ng-model="recepname" maxlength="30" size="30" required/></li>
<li>Email:</li>
<li><input type="email" ng-model="recepmail" name="mail" minlength="12" required/><br/></li>
<li>Phone Number: </li>
<li><input type="text" ng-model="contact" name="mobno" maxlength="10" required/><br/></li>
<li>Username</li>
<li><input type="text" ng-model="uname" name="" maxlength="10" required/><br/></li>
<li>Password</li>
<li><input type="password"  ng-model="upwd" name="" maxlength="10" required/><br/></li>
<li>Confirm Password</li>
<li><input type="password" ng-model="reupwd" name="" maxlength="10" required/></li><br/>
<li><input type="submit" value="Add Username"/> <input type="button" value="Cancel" onclick="location.href='#Main'" /></li>
</ul>
</form>