body
{
	background-color:lightgreen;
}
.login
{
	background-color:cyan;
	float:right;
	border:5px dotted;
	height:150px;	
	width:300px;
	min-width:10px;
	position:relative;
	margin-right:120px;
}
.header
{
	min-height:20px;
	font-size:3em;
	background-color:yellow;
	margin: 0px;
}
ul
{
	margin: 0px;
}
ul li
{
	margin-left:50px;
    display: inline;
    size:3em; 
}
h2 
{
  float: right;
}
	